.slide {
  display: flex;

  @include tablets {
    flex-direction: column;
  }

  @include phones {
  }

  &__burger { 
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: rem(76px);
    padding-bottom: rem(90px);
    position: relative;

    @include tablets {
      width: 100%;
      padding-left: rem(95px);
      padding-right: rem(85px);
      padding-top: rem(81px);
      padding-bottom: rem(41px);
    }

    @include phones {
      padding-left: rem(56px);
      padding-right: rem(46px);
      padding-top: rem(113px);
      padding-bottom: rem(35px);
    }
  }

  &__ingredients {
    cursor: pointer;
    position: absolute;
    left: rem(11px);
    top: 0;
    width: rem(90px);
    height: rem(90px);
    border-radius: 5px;
    background-color: #e35028;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: rem(10px);
    opacity: .7;

    @include tablets {
      left: rem(77px);
      top: rem(5px);
    }

    @include phones {
      left: rem(1px);
    }

    &:hover {
      opacity: 1;
    }

    &:hover .ingredients {
      left: 100%;
    }

    &-title {
      font-size: rem(14px);
    }

    &-image {
      width: rem(55px);
      height: rem(47px);
    }
  }

  &__calories {
    position: absolute;
    left: rem(11px);
    bottom: 0;
    width: rem(60px);
    height: rem(83px);
    background: url('../img/icons/kkal.svg') top no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    @include tablets {
      left: initial;
      right: rem(80px);
      bottom: initial;
      top: rem(5px);
    }

    @include phones {
      right: rem(1px);
    }

    &-value {
      font-size: rem(19px);
      margin-bottom: rem(15px);
    }

    &-text {
      font-size: rem(13px);
    }
  }

  &__desc {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: rem(10px) rem(11px) rem(16px) rem(12px);

    @include tablets {
      width: 100%;
      padding: 0 rem(25px);
    }
    

    @include phones {
      width: 100%;
      padding: 0;
    }
  }

  &__title {
    line-height: .9;

    @include tablets {
      text-align: center;
    }

    @include phones {
      font-family: Gagalin;
      font-size: rem(50px);
      font-weight: 400;
      padding: 0 rem(28px);
      line-height: 1;
    }
  }

  &__text {
    margin-top: rem(41px);
    line-height: rem(24px);
    font-weight: 300;

    @include tablets {
      text-align: center;
    }

    @include phones {
      margin-top: rem(25px);
    }
  }
  
  &__order {
    margin-top: rem(18px);
    display: flex;
    align-items: baseline;

    @include tablets {
      margin-top: rem(29px);
      justify-content: center;
    }

    @include phones {
      margin-top: rem(10px);
    }
  }

  &__price {
    font-size: rem(72px);
    letter-spacing: rem(-2px);
    color: #e35028;
    font-family: "Gagalin";
    text-align: left;
    margin-right: rem(10px);

    @include phones {
      font-size: rem(50px);
      letter-spacing: rem(-1.25px);
    }

    &-currency {
      font-size: rem(28px);
      margin-right: rem(27px);
      letter-spacing: rem(0.6px);
      color: #e35028;
      font-family: "Gagalin";

      @include phones {
        font-size: rem(24px);
        font-weight: 400;
        letter-spacing: rem(-0.6px);
      }
    }
  }
}