.socials {
  flex: 1;

  @include phones {
    margin-top: rem(18px); 
  }

  &__list {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__item {
    margin-right: rem(20px);

    &:last-child {
      margin-right: 0;
    }
  }

  &__logo {
    width: rem(23px);
    height: rem(20px);
    display: block;
    fill: #595959;
    transition: .3s;

    &:hover {
      fill: #fff;
    }
  }
}
