.team-accordeon {
  width: rem(347px);
  height: rem(300px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @include tablets {
    align-items: center;
    justify-content: flex-start;
    height: rem(410px);

  }

  @include phones {
    width: rem(331px);
    align-items: center;
  }
}
