.best {
  background: url(../img/best-screen/bg.png) center center / cover no-repeat;

  &__container {
    justify-content: center;

    @include tablets {
      max-width: rem(741px);
    }

    @include phones {
      max-width: rem(441px);
    }
  }
}
