.burgers {
  background-image: linear-gradient(0deg, #f9b33b 0%, #ea8c38 48%, #f9b33b 74%);

  &__container {
    max-width: rem(1020px);
    flex-direction: row;
    align-items: center;

    @include tablets {
      max-width: rem(680px);
    }

    @include phones {
      max-width: rem(460px);
    }
  }
}
