.how {
  background: url(../img/how-screen/BG_.png) center center / cover no-repeat;

  &__container {
    justify-content: center;
    align-items: center;

    @include tablets {
      max-width: rem(741px);
    }

    @include phones {
      max-width: rem(441px);
    }
  }

  .title {
    color: #2f3234;
    font-family: Gagalin;
    font-size: rem(61px);
    font-weight: 400;

    @include tablets {
     font-size: rem(72px);
    }

    @include phones {
      font-size: rem(50px);
      line-height: rem(60px);
      padding: 0 rem(30px);
      text-align: center;
     }
  }
}