.menu {
  background: url(../img/menu-screen/menu.png) center center / cover no-repeat;
  position: relative;

  .title {
    position: absolute;
    top: rem(111px);
    left: rem(102px);

    @include tablets {
      top: rem(114px);
      left: rem(24px);
    }

    @include phones{
      top: rem(59px);
      left: rem(10px);
      font-size: rem(42px);
    }
  }
}
