.start {
  background: url(../img/first-screen/texture.png) center center / cover no-repeat;
  padding-top: rem(12px);
  padding-bottom: rem(40px);
  position: relative;

  &__container {
    justify-content: space-between;

    @include tablets {
      max-width: rem(713px);
    }

    @include phones {
      max-width: rem(441px);
    }
  }
}

.bgvideo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}