.team {
  background: url(../img/team-screen/team.png) center center / cover no-repeat;
  background-size: cover;
  position: relative;

  &__container {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 50%;
    background-color: #2f3234;
    opacity: 0.93;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablets {
      left: 0;
      width: 100%;
    }

    @include phones {
      width: 100%;
    }
  }

  &__title {
    font-size: rem(72px);

    @include tablets {
      text-align: center;
    }
  }

  &__content {
    position: absolute;
    top: 25%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    @include tablets {
      align-items: center;
    }
  
    @include phones {
      align-items: center;
    }
  }

  &__accordeon {
    margin-top: rem(37px);

    @include tablets {
      margin-top: rem(40px);
    }

    @include phones {
      margin-top: rem(23px);
   }
  }
}
